/*Estilos registro*/
body {
    background-image: url(../multimedia/imagenes/FOND_REGIS.png);
    margin: 200pc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #080808;
}
.card-body {
    width: 480px;
    background-color: rgba(227, 226, 226, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.2);
    text-align:left
}

.carrusel-imagenes {
    display: flex;
    transition: transform 0.5s ease;
}
.carrusel-imagenes img {
    width: 100%;
    max-height: 20px;
    object-fit: cover;
}
/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.5);
    border: none;
    font-size: 24px;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev { left: 10px; }
.next { right: 10px; }