/*Estilos registro*/
body {
    background-image: url(../multimedia/imagenes/texturas1.png);
    margin: 200pc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #0a0a0a;
}
  /* Carrusel */
  .carrusel {
    position: relative;
    width: 100%;
    max-height: 100px; /* Puedes ajustar la altura del carrusel */
    overflow: hidden;
}
.carrusel-imagenes {
    display: flex;
    transition: transform 0.5s ease;
}
.carrusel-imagenes img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}
/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transform: translateY(-50%);
}
.prev { left: 10px; }
.next { right: 10px; }